<h1>Links</h1>

<!-- URL Absoluta -->

<a id="inicio" href="https://www.google.com.br">Google 1</a>
<a href="https://www.google.com.br" target="blank">Google 2</a>

<!-- URL Relativa -->
<a href="index.html">Voltar 1</a>
<a href="/index.html">Voltar 2</a>
<a href="../index.html">Voltar 3</a>

<a href="mailto:email@empresa.com.br">Entre em contato</a><br>

<div id="noticia" style="position: absolute; top: 2000px;">
    <h1>Notícia Buemba!</h1>
    <p>Não era nada...</p>
    <a href="#inicio">Voltar Início</a>
</div>

<a href="#noticia">Ir para Notícia</a>