<!-- Cabeçalhos -->
<h1>Cabeçalho Principal</h1>
<h2>Cabeçalho de Nível 2</h2>
<h3>Cabeçalho de Nível 3</h3>
<h4>Cabeçalho de Nível 4</h4>
<h5>Cabeçalho de Nível 5</h5>
<h6>Cabeçalho de Nível 6</h6>

<!-- Parágrafo -->
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Cupiditate nihil doloribus magni, modi eos temporibus eum 
    odit aut perspiciatis voluptates veniam in molestias minus... 
</p>

<!-- Negrito e Itálico -->
<p>Texto em <b>negrito</b> e <i>itálico</i>.</p>

<!-- Sobrescrito e Subscrito -->
<p>2<sup>2</sup> =  4 e H<sub>2</sub>O = Água! </p>

<!-- Espaços em branco -->
<p>
    Espaços         entre           palavras
</p>