<h1>Texto (Parte 2)</h1>

<!-- Quebra de Linha e Quebra Temática -->
<p>Isso está <br>em uma<br/> nova linha</p>
<p>Tema Interessante 1</p>
<hr />
<p>Tema interessante 2</p>

<!-- Marcações semânticas -->
<p><strong>Cuidado!</strong> Alta Voltagem! <em>Somente pessoal autorizado</em></p>
<blockquote cite="https://en.wikipedia.org/wiki/wikipedia">Citações longas...</blockquote>
<p>Fulano disse que <q>tempor incididunt ut labore et dolore</q></p>

<!-- Outras tags -->
<p>
<abbr title="Professor">Prof</abbr> Fulano em seu livro
<cite>Livro Bem Legal</cite> definiu mais precisamente... blá.
</p>

<p><dfn>Buraco Negro</dfn> é a região do espaço que...</p>

<address>
    <p>Rua ABC, n<sup>o</sup>123...</p>
</address>

<p>O Oscar vai para <del>La La Land</del> <ins>Moonlight</ins></p>

<p>Computador de <s>R$ 2.240,90</s> por R$ 1.799,00</p>