<tag>
    <!-- Corpo da Tag -->
    <bla>
        <opa>Texto</opa>
        <opa>Texto</opa>
        <opa>Texto</opa>
        <opa>Texto</opa>
    </bla>
</tag>

<!-- HTML --> <meta><br><input>
<tag /><meta /><br /><input />

<tag param1="valor1" param2='valor2'>
    <!-- Corpo da Tag -->
</tag>

<tag param1="valor1" param2='valor2' />

<input type="button" value="Processar!">

<input type="text" v-if v-for v-else>